**/log
**/metastore_db
**/cluster
*.crc
*.iml
*.sc
.DS_Store
.cache
.classpath
.externalToolBuilders
.history
.idea/*
.project
.settings/
.worksheet/
*.log
target/*
project
target/streams/*
_SUCCESS
dependency-reduced-pom.xml
