**/log
**/metastore_db
**/cluster
*.crc
*.iml
*.sc
.DS_Store
.cache
.classpath
.externalToolBuilders
.history
.idea/*
.project
.settings/
.worksheet/
*.log
!**/src/main/**/target/
!**/src/test/**/target/
target/*
target/
project/
project/*
.bsp

target/streams/*
_SUCCESS
dependency-reduced-pom.xml
